# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
/.next/
/out/
.next/
next-env.d.ts

# Production
/build
/dist

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage
/playwright-report
/test-results

# Screenshots
/screenshots/*.png
/screenshots/*.jpg

# Cloudflare
.cloudflared

# Temp files
/tmp/
/tmp
*.tmp